<div class="main-container">

    <div class="icon">
      <i class="fa-solid fa-building-columns education-icon"></i>
    </div>
    <div class="left-side">
      <div class="content">
        <h1>Education </h1> <br>  
        <div class="edu-box">
          <div class="left">
            <p class="date">2021 October - 2022 August</p>
            <p class="name">&#123; GREENFOX ACADEMY  &#125;</p>
            <span class="title">Junior Full-stack developer</span>
          </div>
          <div class="right">
            <p class="desc">&#123; Development basics, JS, TS, Angular, NodeJS  &#125;</p>
          </div>
        </div>
        <br>
        <div class="edu-box">
          <div class="left">
            <p class="date">2018 September - 2019 May</p>
            <p class="name">&#123; UNIVERSITY OF DUNAÚJVÁROS  &#125;</p>
            <span class="title">IT Engineer</span>
          </div>
          <div class="right">
            <p class="desc">&#123; Programming basics, C#, math, physics and more  &#125;</p>
          </div>
        </div>
        <br>

        <div class="edu-box">
          <div class="left">
            <p class="date">2006 - 2011</p>
            <p class="name">&#123; MILTON FRIEDMAN UNIVERSITY  &#125;</p>
            <span class="title">Communication and media science</span>
          </div>
          <div class="right">
            <p class="desc">&#123; Web and communication intermediate knowledge &#125;</p>
          </div>
        </div>

        <br>

        <div class="edu-box">
          <div class="left">
            <p class="date">2004 - 2006</p>
            <p class="name">&#123; UNIVERSITY OF DUNAÚJVÁROS  &#125;</p>
            <span class="title">Institute communicator</span>
          </div>
          <div class="right">
            <p class="desc">&#123; Web Design, HTML, CSS, Communication basics  &#125;</p>
          </div>
        </div>

      </div>
    </div>
   </div>

  
