<div class="main-container">

  <div class="icon">
  <i class="fa-solid fa-code references-icon"></i>
  </div>

  <div class="left-side">
  <div class="content">
    <div class="row">
      <div class="card">
        <img src="../assets/timotex.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <div>
            <h5 class="card-title">&#123; TiMo Tex &#125;</h5>
            <p class="card-text">New design test site with Angular, Bootstrap, SCSS for TimoTex</p>
          </div>
          <div>
            <a href="https://atex.wattson.dev" class="card-body-link">  <i class="fa-solid fa-link card-icon"></i></a>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="../assets/mediator-coach.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <div>
            <h5 class="card-title">&#123; Mediátor Coach &#125;</h5>
            <p class="card-text">Modern static website design and development with HTML5, CSS3</p>
          </div>
          <div>
            <a href="https://mediator-coach.hu" class="card-body-link">  <i class="fa-solid fa-link card-icon"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="card">
        <img src="../assets/olaszmamma.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <div>
            <h5 class="card-title">&#123; Olaszmamma &#125;</h5>
            <p class="card-text">Cool Wordpress blog new design with data migration</p>
          </div>
          <div>
            <a href="https://olaszmamma.com" class="card-body-link">  <i class="fa-solid fa-link card-icon"></i></a>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="../assets/boroka-apartman.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <div>
            <h5 class="card-title">&#123; Boroka Apartman &#125;</h5>
            <p class="card-text">New fancy Wordpress site for an apartman at Tisza-tó</p>
          </div>
          <div>
            <a href="https://boroka-apartman.hu" class="card-body-link">  <i class="fa-solid fa-link card-icon"></i></a>
          </div>
        </div>
      </div>
    </div>
   
  </div>

</div>
