<div class="main-container">

  <div class="icon">
    <i class="fa-solid fa-laptop-code about-icon"></i>
  </div>
 <div class="left-side">
    <div class="content">
      <h1>Hello, </h1>  <p>let's see my atomic size wonderful instance:</p><br>
      <h2> const IdentityObj = &#123;</h2>
      <h2 class="indent"> name: <span class="title">Armin_Vndg</span>,</h2>
      <h2 class="indent"> position: <span class="title">Full_Stack_Developer</span>,</h2>
      <h2 class="indent"> personality: <span class="title">awesome</span>,</h2>
      <h2 class="indent"> git: <span class="title">AMVendeg</span></h2>
      <h2>&#125;</h2>
    </div>

 </div>

 <div class="icon">
   <i class="fa-solid fa-terminal about-icon"></i>    
 </div>
 <div class="right-side">
    <div class="content">
      <div class="content-box">
        <h2>Let's talk, drop me a line

          <i class="fa-solid fa-arrow-turn-down contact-icon"></i>

      </h2>
      </div>
      <button class="btn btn-contact" routerLink="/contact" 
      
      >[ CONTACT ]</button>
      <br><br>
      <div class="content-box">
        <h2>&#123; OR &#125;
          <i class="fa-solid fa-arrow-turn-down cv-icon"></i>
      </h2>
      </div>
      <button class="btn btn-cv">
      <a href="../assets/VAA_CV_2024.pdf" target="_blank">[ CHECK MY CV ]</a></button>
    </div>

 </div>

</div>
