<div class="main-container">

  <div class="icon">
    <i class="fa-solid fa-laptop-code work-icon"></i>
  </div>

    <div class="left-side">
      <div class="content">
        <h1>Work Experiences </h1> <br>  
        <div class="edu-box">
          <div class="left">

            <div class="accordion" id="accordionPanelsStayOpenExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    <p class="title"><i class="fa-solid fa-desktop"></i> Full-Stack Developer </p>
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                  <div class="accordion-body" style="background-color: rgba(29, 30, 31, 0.9);">
                    <p class="date"><i class="fa-solid fa-calendar"></i> 2022 December - Nowadays</p>
                    <p class="name"><i class="fa-solid fa-building"></i> &#123; ERPLAN MŰVEK Kft.  &#125;</p><br>
                    <span class="hashtags">#DOTNET #XAML #SAP #ANGULAR #CSHARP #TYPESCRIPT #VISUALBASIC #IIS #MSSQL #SCSS #OPENVPN #GITLAB #SVN #WORDPRESS #FIGMA #PHOTOSHOP #EASYPROJECT #HOMEOFFICE</span> 
                    <div class="icon-container">
                      <i class="fa-brands fa-angular ex-icon"></i>
                      <i class="fa-brands fa-android ex-icon"></i>
                      <i class="fa-brands fa-node-js ex-icon"></i>
                      <i class="fa-brands fa-wordpress ex-icon"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    <p class="title"><i class="fa-solid fa-desktop"></i> Application Development Associate </p>
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                  <div class="accordion-body" style="background-color: rgba(29, 30, 31, 0.9);">
                    <p class="date"><i class="fa-solid fa-calendar"></i> 2022 April - 2022 November</p>
                    <p class="name"><i class="fa-solid fa-building"></i> &#123; Accenture Kft.  &#125;</p><br>
                    <span class="hashtags">#SALESFORCE #APEX #GIT #JIRA #XML #HOMEOFFICE</span> 
                    <div class="icon-container">
                      <i class="fa-brands fa-salesforce ex-icon"></i>
                      <i class="fa-solid fa-file-excel ex-icon"></i>
                      <i class="fa-brands fa-git ex-icon"></i>
                      <i class="fa-brands fa-jira ex-icon"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                    <p class="title"><i class="fa-solid fa-desktop"></i> IT coordinator, junior developer </p>
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                  <div class="accordion-body" style="background-color: rgba(29, 30, 31, 0.9);">
                    <p class="date"><i class="fa-solid fa-calendar"></i> 2017 October - 2022 April</p>
                    <p class="name"><i class="fa-solid fa-building"></i> &#123; Nordtek Imexco Kft.  &#125;</p>
                    <span class="hashtags">#SAP #LARAVELWEBSHOPADMIN #HTML #CSS #WORDPRESS #WOOCOMMERCE #MAGENTO #PHOTOSHOP #CORELDRAW #EXCEL </span> 
                    <div class="icon-container">
                      <i class="fa-brands fa-laravel ex-icon"></i>
                      <i class="fa-brands fa-magento ex-icon"></i>
                      <i class="fa-brands fa-html5 ex-icon"></i>
                      <i class="fa-brands fa-css3 ex-icon"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                    <p class="title"><i class="fa-solid fa-desktop"></i> Webshop admin, junior developer </p>
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                  <div class="accordion-body" style="background-color: rgba(29, 30, 31, 0.9);">
                    <p class="date"><i class="fa-solid fa-calendar"></i> 2017 May - 2017 October</p>
                    <p class="name"><i class="fa-solid fa-building"></i> &#123; MM BIke Kft.  &#125;</p>
                    <span class="hashtags">#BICYCLE WEBSHOP #HTML #CSS #PHOTOSHOP #CORELDRAW #EXCEL </span> 
                    <div class="icon-container">
                      <i class="fa-brands fa-html5 ex-icon"></i>
                      <i class="fa-brands fa-css3 ex-icon"></i>
                      <i class="fa-solid fa-file-excel ex-icon"></i>
                      <i class="fa-solid fa-bicycle ex-icon"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                    <p class="title"><i class="fa-solid fa-desktop"></i> IT administrator </p>
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                  <div class="accordion-body" style="background-color: rgba(29, 30, 31, 0.9);">
                    <p class="date"><i class="fa-solid fa-calendar"></i> 2015 May - 2017 May</p>
                    <p class="name"><i class="fa-solid fa-building"></i> &#123; Autohome International Kft.  &#125;</p>
                    <span class="hashtags">#ALPHA5 #HTML #CSS #EXCEL #DOS #ADMINISTRATION</span> 
                  </div>
                </div>
              </div>
            </div>
          </div>
         
        </div>
        <br>
      
      </div>
    </div>
</div>

  

